{% extends "core/layout.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row justify-content-center mt-1">
        <div class="col">
            <h4>KENYA</h4>
            <hr>
        </div>
    </div>

        <div class="row justify-content-center mb-3">
            <div class="col-sm-5">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ cases.total }}</h5>
                        <hr>
                        <p class="card-text">Total cases</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ cases.active}}</h5>
                        <hr>
                        <p class="card-text">Active cases</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ cases.recovered }}</h5>
                        <hr>
                        <p class="card-text">Recovered cases</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ cases.new }}</h5>
                        <hr>
                        <p class="card-text">New cases</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ deaths.total }}</h5>
                        <hr>
                        <p class="card-text">Total deaths</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ deaths.new|default:"0" }}</h5>
                        <hr>
                        <p class="card-text">New deaths</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ tests.total }}</h5>
                        <hr>
                        <p class="card-text">Tests done</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ cases.recovered }}</h5>
                        <hr>
                        <p class="card-text">Total recovered</p>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}